In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('food.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   104 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

In [4]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [5]:
df.shape

(125, 61)

In [6]:
df.isnull()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
122,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
124,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False

In [7]:
df.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         21
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [8]:
df.isnull().sum().sum()

143

##  Filling Null Values by using fillna() function to use mean, median and mode

In [9]:
df['calories_day'].fillna(df['calories_day'].median(), inplace = True)

In [10]:
df['calories_scone'].fillna(df['calories_scone'].median(), inplace = True)

In [11]:
df['comfort_food'].fillna(df['comfort_food'].mode(), inplace = True)

In [12]:
df['comfort_food_reasons_coded'].fillna(df['comfort_food_reasons_coded'].median(), inplace = True)

In [13]:
df['cook'].fillna(df['cook'].median(), inplace = True)

In [14]:
df['cuisine'].fillna(df['cuisine'].median(), inplace = True)

In [15]:
df['diet_current'].fillna(df['diet_current'].mode(), inplace = True)

In [16]:
df['drink'].fillna(df['drink'].median(), inplace = True)

In [17]:
df['employment'].fillna(df['employment'].median(), inplace = True)

In [18]:
df['exercise'].fillna(df['exercise'].median(), inplace = True)

In [19]:
df['father_education'].fillna(df['father_education'].median(), inplace = True)

In [20]:
df['fav_food'].fillna(df['fav_food'].median(), inplace = True)

In [21]:
df['healthy_meal'].fillna(df['healthy_meal'].mode(), inplace = True)

In [22]:
df['ideal_diet'].fillna(df['ideal_diet'].mode(), inplace = True)

In [23]:
df['fav_food'].fillna(df['fav_food'].median(), inplace = True)

In [24]:
df['income'].fillna(df['income'].median(), inplace = True)

In [25]:
df['life_rewarding'].fillna(df['life_rewarding'].median(), inplace = True)

In [26]:
df['marital_status'].fillna(df['marital_status'].median(), inplace = True)

In [27]:
df['mother_education'].fillna(df['mother_education'].median(), inplace = True)

In [28]:
df['on_off_campus'].fillna(df['on_off_campus'].median(), inplace = True)

In [29]:
df['persian_food'].fillna(df['persian_food'].median(), inplace = True)

In [30]:
df['self_perception_weight'].fillna(df['self_perception_weight'].median(), inplace = True)

In [31]:
df['soup'].fillna(df['soup'].median(), inplace = True)

In [32]:
df['sports'].fillna(df['sports'].median(), inplace = True)

In [33]:
df['tortilla_calories'].fillna(df['tortilla_calories'].median(), inplace = True)

In [34]:
df['type_sports'].fillna(df['type_sports'].mode(), inplace = True)

##  Filling Null Values by using replace() function to use mean, median and mode

In [35]:
df["GPA"].replace(np.NaN,df["GPA"].mode()[0], inplace=True)

In [36]:
df["comfort_food_reasons"].replace(np.NaN,df["comfort_food_reasons"].mode()[0], inplace=True)

In [37]:
df["eating_changes"].replace(np.NaN,df["eating_changes"].mode()[0], inplace = True)

In [38]:
df["father_profession"].replace(np.NaN,df["father_profession"].mode()[0],inplace = True)

In [39]:
df["fav_cuisine"].replace(np.NaN,df["fav_cuisine"].mode()[0],inplace = True)

In [40]:
df["food_childhood"].replace(np.NaN,df["food_childhood"].mode()[0], inplace = True)

In [41]:
df["meals_dinner_friend"].replace(np.NaN,df["meals_dinner_friend"].mode()[0],inplace = True)

In [42]:
df["mother_profession"].replace(np.NaN,df["mother_profession"].mode()[0], inplace = True)

In [43]:
df["type_sports"].replace(np.NaN,df["type_sports"].mode()[0], inplace = True)

In [44]:
df["weight"].replace(np.NaN, df["weight"].mode()[0],inplace = True)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           125 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  125 non-null    float64
 5   calories_scone                125 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  125 non-null    object
 8   comfort_food_reasons          125 non-null    object
 9   comfort_food_reasons_coded    125 non-null    float64
 10  cook                          125 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       125 non-null    float64
 13  diet_current                  125 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         125 non-null    float64
 16  eating_changes                125 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    125 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      125 non-null    float64
 23  father_education              125 non-null    float64
 24  father_profession             125 non-null    object
 25  fav_cuisine                   125 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      125 non-null    float64
 28  food_childhood                125 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  125 non-null    object
 35  ideal_diet                    125 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        125 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                125 non-null    float64
 41  marital_status                125 non-null    float64
 42  meals_dinner_friend           125 non-null    object
 43  mother_education              125 non-null    float64
 44  mother_profession             125 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 125 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  125 non-null    float64
 50  self_perception_weight        125 non-null    float64
 51  soup                          125 non-null    float64
 52  sports                        125 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             125 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   125 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        125 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

In [46]:
df.isnull().sum()

GPA                 0
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

In [47]:
df.isnull().sum().sum()

0

## Removing Duplicate Columns

In [48]:
df.drop_duplicates()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,3.0,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,none,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,2.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,2.0,...,1.0,1.0,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,3.0,420.0,1,"rice, potato, seaweed soup",sadness,2.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",2.0,...,2.0,2.0,1,940.0,500,none,3,1,1315,135
124,3.9,1,1,430,3.0,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",2.0,...,1.0,2.0,2,725.0,345,none,4,2,575,135